<div id="header">

	<!-- Logo -->
		<h1><a href="/{{ site.baseurl }}" id="logo">{{ site.title }}</a></h1>

	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="{% unless page.navselect %}current{% endunless %}"><a href="/{{ site.baseurl }}">Home</a></li>
				<li>
					<a href="#">Projects</a>
					<ul>
						<li><a href="#">Battle Bots</a></li>
						<li>
							<a href="#">Arduino Stuff</a>
							<ul>
								<li><a href="#">Code</a></li>
								<li><a href="#">Schematics</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="{% if page.navselect == 'blog' %}current{% endif %}"><a href="{{ site.baseurl }}/blog">Blog</a></li>
			</ul>
		</nav>

</div>
