<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="page-wrapper">
      {% include header.html %}
      <section class="wrapper style2">
        <div class="container">
          <header class="major">
            <h2>{{ page.title }}</h2>
            {% if page.subtitle %} <p>{{ page.subtitle }}</p>{% endif %}
          </header>
        </div>
      </section>
      <section class="wrapper style1">
				<div class="container">
					<div class="row 200%">
            {{ content }}
          </div>
        </div>
      </section>

      {% include footer.html %}
    </div>

    <!-- Scripts -->
		<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/jquery.dropotron.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/skel.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/util.js' | prepend: site.baseurl }}"></script>
		<!--[if lte IE 8]><script src="{{ '/js/ie/respond.min.js' | prepend: site.baseurl }}"></script><![endif]-->
		<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
  </body>

</html>
