---
layout: default
---
{% include blog_sidebar.html %}
<div class="8u  12u(narrower) important(narrower)">
	<div id="content">
    <article>
    	<header>
        <p>
          {% if page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ site.data.members[page.author].name }}</span></span>{% endif %}
             •
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </p>
    	</header>

      {{ content }}

    </article>
  </div>
</div>
